# Ignore build results and bundles
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
bld/
[Bb]in/
[Oo]bj/
Publish/

# VisualStudio
.vs/
.vscode/
dist/
dev-dist/
node_modules/
appsettings.development.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Key files
*.der
*.pem

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# Editor directories and files
.vs/
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vite
*.local

# Vitest
__screenshots__/
